# Tex
**/*.aux
**/*.bbl
**/*.blg
**/*.lof
**/*.lot
**/*.pyg
**/*.gz
**/*.toc
**/*.ptb
**/*.dvi
**/*.xcp
**/*.snm
**/*.nav
**/*.fls
**/*.fdb_latexmk
**/*.dvi
**/*.vrb
**/*.run.xml
**/*-blx.bib

# Tex-minted
**/_minted*/

# Agda
**/*.agdai
**/*.agda~
**/latex/
**/_build/
**/MAlonzo/

# Haskell
**/*.hi
**/*.o
